* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 0 auto;
    width: 100%;
}

header {
    height: 40px;
    background-color: rgb(78, 78, 78);
}

.kiri {
    float: left;
    font-size: 38px;
    margin-left: 10px;
    line-height: 40px;
    color: white;
}

.kanan > p {
    float: right;
    margin-right: 12px;
    font-size: 21px;
    line-height: 40px;
    color: white;
}

main {
    height: 0 auto;
    background-color: rgb(255, 255, 255);
}

.kotak-1 {
    margin-top: 60px;
    height: 370px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.kotak-1 > img {
    margin-top: 5px;
    width: 200px;
}

.kotak-1 > h1 {
    font-size: 65px;
}

.kotak-1 > p {
    font-size: 25px;
}

.kotak-2 {
    height: 180px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}

.kotak-2 > h4 {
    padding-top: 20px;
    font-size: 28px;
}

.kotak-2 > p {
    margin: 10px;
    font-size: 18px;
}

.kotak-3 {
    margin-top: 60px;
    height: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.kotak-3 > h4 {
    font-size: 28px;
    margin-bottom: 15px;
}

.kotak-3 > .gambar {
    justify-content: center;
}

.kotak-3 > .gambar > img {
    width: 170px;
}

.Image {
    margin-right: 20px;
}

.kotak-4 {
    padding-right: 140px;
    padding-left: 140px;
    padding-top: 20px;
    margin-top: 60px;
    height: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}

.kotak-4 > h4 {
    font-size: 28px;
    margin-bottom: 15px;
}

.satu {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

.dua {
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

.tiga {
    height: 30px;
    width: 30%;
    margin-bottom: 10px;
    justify-content: center;
}

footer {
    height: 90px;
    background-color: rgb(78, 78, 78);
}

footer h1 {
    float: left;
    font-size: 38px;
    margin-left: 10px;
    line-height: 40px;
    color: white;
    line-height: 90px;
}

ul {
    list-style: none;
    float: right;
}

li {
    color: white;
    margin-top: 8px;
    margin-right: 10px;
}

@media(max-width: 3000px) {
    header {
        margin-left: 25%;
        margin-right: 25%;
    }

    main {
        margin-left: 25%;
        margin-right: 25%;
    }

    footer {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media(max-width: 1440px) {
    header {
        margin-left: 17%;
        margin-right: 17%;
    }

    main {
        margin-left: 17%;
        margin-right: 17%;
    }

    footer {
        margin-left: 17%;
        margin-right: 17%;
    }
}

@media(max-width: 1100px) {
    header {
        margin-left: 11%;
        margin-right: 11%;
    }

    main {
        margin-left: 11%;
        margin-right: 11%;
    }

    footer {
        margin-left: 11%;
        margin-right: 11%;
    }
}

@media(max-width: 800px) {
    header {
        margin-left: 2%;
        margin-right: 2%;
    }

    main {
        margin-left: 2%;
        margin-right: 2%;
    }

    footer {
        margin-left: 2%;
        margin-right: 2%;
    }
}